name: BookHub CI

on:
  push:
    branches: [ "master", "feature/unit-tests" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore Dependencies
      run: dotnet restore

    - name: Build Code
      run: dotnet build --no-restore --configuration Release

    - name: Run Unit Tests
      run: dotnet test --no-build --configuration Release --verbosity normal

    - name: Docker Build Check
      run: docker build . -f Dockerfile -t bookhub-api:latest